
@{
    ViewBag.Title = "UserEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <style>
        input {
            max-width: 600px;
        }

        textarea {
            max-width: 600px;
        }
    </style>
</head>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Sửa đổi:</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="@Url.Action("AddUser","CRUD")" method="post">
            @foreach (var item in ViewBag.listUser)
            {

                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">ID</label>
                        <input type="text" class="form-control " name="id_User" disabled value="@item.id">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Tên đăng nhập</label>
                        <input type="text" class="form-control" name="userName_User" value="@item.userName">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Mật khẩu</label>
                        <input type="text" class="form-control" name="pass_User" value="@item.pass">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Tên người dùng</label>
                        <input type="text" class="form-control" name="name_User" value="@item.name">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Số điện thoại</label>
                        <input type="text" class="form-control" name="phone_User" value="@item.phone">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input type="text" class="form-control" name="email_User" value="@item.email">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Quê quán</label>
                        <input type="text" class="form-control" name="address_User" value="@item.address">
                    </div>
                </div>
                <!-- /.box-body -->
            }

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Sửa đổi</button>
                    <a href="@Url.Action("Users","Admin")" class="btn btn-danger">Hủy</a>
                </div>
        </form>
    </div>
</section>

